<!--
  <form action="/users" method="post" accept-charset="UTF-8">
  <label for="username">Username</label>
  <input id="username" name="user[username]" type="text"> 

  <label for="password">Password</label>
  <input id="password" name="user[password]" type="password">

  <label for="email"> E-mail</label>
  <input id="email" name="user[email]" type="email">

  <input name="submit" value="Submit" type="submit">
</form>
-->
<!--
<%= form_tag("/users") do %>

  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>

  <%= label_tag(:email) %>
  <%= email_field_tag(:email) %>

  <%= submit_tag("submit") %>

<% end %>
-->

<%= form_with model: @user do |form| %>
  <%= form.label "Username" %>
  <%= form.text_field :username %>

  <%= form.label "Password" %>
  <%= form.password_field :password %>

  <%= form.label "E-mail" %>
  <%= form.email_field :email %>

  <%= form.submit "Submit" %>

<% end %>
